html{
    font-family :'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    flex: 1;
}
.top{
    display: flex;
    justify-content: center;
   height: auto;
    width: 100%;
    background-color: #1F2937;
}
.first{
    padding-bottom: 50px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header{
    display: flex;
    gap: 50px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.right-links{
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
    height: auto;
}
.block{
    height: 100%;
    width: 100%;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}


.main-text{
    font-weight:bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.second-text{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.cat-photo{
    width: 500px;
    height: 300px;
}

.cats{
    width: 200px;
    height: 200px;
    border:3px solid #3882F6;
    border-radius: 15px;
}
.second{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-grow:1;
}

.container{
    font-size: 18px;
    color: grey;
}

.second-container{
    text-align: center;
}

#cats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.information{
    font-size: 48px;
    font-weight: bold;
}

.third{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 100%;
    background-color: #E5E7EB;
    flex-grow:1;

}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    flex:none;
}

.inspiring{
    font-size: 36px;
    width: 80%;
    font-weight: 100;
}

span{
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    width: 80%;
    height: auto;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px 0;
    flex-grow:1;
}

.fourth-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 50%;
    background-color: #3882F6;
    border-radius: 15px;
}

.last-button{
    border: white;
}

button.last-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    border:2px solid white;
    font-size: 18px;
}

.last-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.donate-money{
font-size: 18px;
color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
}

.footer-text{
    font-size: 18px;
    color: #E5E7EB;
}